
<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'one', 'pages/one', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'two', 'pages/two', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'three', 'pages/three', class: 'nav-link' %>
  </li>
</ul>

<h1>Fernanda Javiera Mora Caballero</h1>